<table class="table table-model-2 table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>temperature</th>
            <th>Pressure</th>
            <th>Wind speed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of citiesArray | slice:(currentPage-1)*10:(currentPage*10);let i = index;let l = last">
            <td *ngIf='!l'>{{currentPage-1}}{{i+1}}</td>
            <td *ngIf='l'>{{currentPage}}0</td>
            <td>{{item.name}}</td>
            <td>{{item.main.temp}}</td>
            <td>{{item.main.pressure}}</td>
            <td>{{item.wind.speed}}</td>
        </tr>
    </tbody>
</table>
<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circle *ngIf="!promiseFlag" mode="indeterminate" class="md-warn my-progress" color="warn" md-diameter="70"></md-progress-circle>
</div>
<ngb-pagination [collectionSize]="cllectionSize" [(page)]="currentPage" size="sm"></ngb-pagination>
